@model IEnumerable<prjMvcCoreDemo.Models.CShoppingCartItem>

@{
    ViewData["Title"] = "CartView";
}

<h1>檢視購物車</h1>

<p>
    <a asp-action="List">繼續購物</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                商品名稱
            </th>
            <th>
                @Html.DisplayNameFor(model => model.count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.小計)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            decimal pay = 0;
            decimal tax = 0;
            foreach (var item in Model)
            {

                count++;
                pay += item.小計;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @item.product.FName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.小計)
                    </td>
                    <td>
                        @Html.ActionLink("取消", "RemoveItem", "Shopping", new { id=item.productId },
                          new { onclick = "return confirm('確定要取消嗎?')", @class = "btn btn-danger" })
                    </td>
                </tr>
            }
            tax = pay * 0.05m;
        }
    </tbody>
</table>
<li>交易金額：@pay.ToString("0")</li>
<li>稅　　額：@tax.ToString("0")</li>
<li>結帳金額：@((pay+tax).ToString("0"))</li>